.rule,
.condition {
    animation: fade 1s;
    background: white;
    border-radius: 3px;
    color: #888;
    margin-left: 1rem;
    margin-top: 0.2rem;
    opacity: 1;
    padding: 0.5rem;
    width: 85%;
}

.rule {
    display: flex;
}

.rule>* {
    margin-left: 0.5rem;
}

.condition {
    margin-bottom: 1em;
    border: 1px solid #ccc;
}


@-webkit-keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.error {
    color: red;
}

.query-builder button {
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    margin-left: 1em;
}

.query-builder button svg {
    height: 1.5em;
    width: 1.5em;
}

.query-builder header {
    padding-bottom: 1em;
}

.query-builder footer {
    padding-top: 1em;
    border-top: 1px solid #ccc;
}
